# .env.example

# Stripe API Keys
STRIPE_PUBLIC_KEY=your_stripe_public_key
STRIPE_SECRET_KEY=your_stripe_secret_key

# MongoDB Connection
MONGODB_URI=your_mongodb_connection_string

# API Keys
API_KEY_1=your_api_key_1
API_KEY_2=your_api_key_2